<h1>User info</h1>
<% if @user.errors.any? %>
 <div id="error_explanation" class="alert-danger">

 	<%pluralize(@user.errors.count, "error") %>
     <h2>prohibited this obj from being saved:</h2>
     <ul><%@user.errors.full_messages.each do |message| %>
        <li>error</li>
     	<il><%= message %></il>
     	<% end %>
     </ul>
 </div>
 <% end %>
<%= form_for(@user) do |f| %>

<h4>Name</h4>
    <%= f.text_field :name %>
  <h4>Image</h4>
    <%= f.attachment_field :profile_image %>
  <h4>Introduction</h4>
    <%= f.text_area :introduction %>
    <%= f.submit 'Update User' %>
    
<% end %>
<h5>CopyRight Infratop.inc</h5>